.about-welcome {
    font-size: 3rem;
    margin-top: 100px;
}

.avatar {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.about-list {
    font-size: 1.2rem;
}

.name {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.about-icon-container {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%; 
    font-size: 2rem;
    justify-content: space-around;
}

.about-icon {
    text-decoration: none;
    color: rgb(155, 155, 155);
    transition: color 0.5s ease;
}

.about-icon:hover {
    color: #3688fa;
    cursor: pointer;
}

@media (min-width: 992px) {
    .about-container {
        display: flex;
        max-width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }

    .avatar-container {
        flex-basis: 0.33;
        height: 300px;
        max-width: 33%;
    }

    .introduction-container {
        flex-basis: 0.66;
        max-width: 66%;
        font-size: 1.5rem;
        font-family: 'CharisSIL', Merriweather, san serif;
        text-align: left;
        margin-bottom: 20px;
    }

    .esh-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .ed {
        flex: 2;
        min-width: 60%;
        margin-bottom: 20px;
    }

    .skill {
        flex: 1;
        min-width: 30%;
        margin-bottom: 20px;
    }
}

@media (max-width: 991.98px) {
    .avatar-container {
        max-width: 50%;
        margin: 0 auto;
    }

    .introduction-container {
        text-align: left;
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
        font-family: 'CharisSIL', Merriweather, san serif;
    }

}