.contact-list {
    list-style: none;
    margin-bottom: 10px;
}

.contact-container {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .contact-container {
        display: flex;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: space-around;
    }


    .contact-title {
        flex-basis: 0.33;
        font-size: 2rem;
        width: 33%;
    }

    .contact-information {
        flex-basis: 0.66;
        width: 66%;
        font-size: 1.5rem;
        font-family: 'CharisSIL', Merriweather, san serif;
        text-align: left;
        margin-bottom: 20px;
    }
}

@media (max-width: 991.98px) {
    .contact-title {
        max-width: 50%;
        margin: 0 auto;
        font-size: 2rem;
    }

    .contact-information {
        text-align: left;
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
        font-family: 'CharisSIL', Merriweather, san serif;
    }

}